:root {
  --primary-color: #8fff92;
  --secondary-color: #152b3a;
}

@font-face {
  font-family: 'greenth_outline';
  src: url('/assets/fonts/grennth_outline.otf') format('truetype');
}

@font-face {
  font-family: 'myriadpro_bold';
  src: url('/assets/fonts/myriadpro_bold.otf') format('truetype');
}

@font-face {
  font-family: 'myriadpro_regular';
  src: url('/assets/fonts/myriadpro_regular.otf') format('truetype');
}

* {
    margin:0; 
    padding:0; 
    box-sizing:border-box;
}
html {
   font-size:62.5%; 
   overflow-x: hidden;
   text-transform: capitalize;
   scroll-padding-top: 5.5rem;
   scroll-behavior: smooth;
}
body {
    font-family: 'myriadpro_regular', sans-serif;
}
ul {
    list-style-type: none;
}
a {
    text-decoration:none;
}
input,
textarea {
    border:none; 
    outline: none;
}
button,
input[type="submit"] {
    cursor:pointer; 
}
section {
    padding:2rem 9%;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  position: fixed;
  /* From https://css.glass */
  background: rgba(0, 0, 0, 0.44);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.header .navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .navbar ul li {
  margin: 0 1.5rem;
}

.header .navbar ul li a {
  font-size: 2rem;
  color: #fff;
}

.header .btn-contact {
  border: solid 1px var(--primary-color);
  background: transparent;
  padding: 1.5rem 1.5rem;
  border-radius: 5rem;
  color: white;
  font-weight: 600;
}

.home {
  position: relative;
  width: 100%;
  height: 100vh; /* o lo que necesites */
  overflow: hidden;
}

.home .swiper-slide .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}